<div class="row">
  <h2>Gimme a random brussels sprout recipe!!</h2>

  <ul>Your secret is: <span id="dish_up">Brussel Sprouts</span></ul>
</ul>
  <p><a href="#" id="get_it">Click here for a random dish!</a></p>
</div>
  <ul class="bruss">
  </ul>
