<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Hi there!</h1>
    <li><a href="/tasks">Home</a></li>
</body>
</html>
