
    <h1>Grocery Shopping List</h1>

    <h2>I already have...</h2>
    <a href="/">New List</a>
    <a href="/">Delete last addition</a>


    <ul class="item_list">
      <% items.each do |item| %>
        <li class="listing"> <%=item["key_id"]%>.  <%=item["shopping_item"]%></li>
      <%end%>
    </ul>

<br></br>
    <form id="condition" action="/create_list" method="post">
      <label for="make_list">I want to buy:</label>
      <input type="text" id="buy" name="buy">
      <input type="submit" value="add">
    </form>
