<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fatten me up!</title>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
  <body>

    <%=post%>

    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/grocery.js"></script>
  </body>
</html>
