
<ul>*Game * Over*</ul>

<p>Human: <%=@player_score%> </p>
<p>Computer: <%=@computer_score%>  </p>


<h3><%=@message%> </h3>

<form id="condition" action="/" method="get">
  <input type="submit" name="restart" value="restart">
</form>
