<h3>Movies</h3>
<p><a href="/actors">Actors </a> | <a href="/ratings">Sort by Rating</a> | <a href="/years">Sort by Year</a> | <a href="/next_movies">Next Twenty</a>
<a>Page: <%=page%></a></p>
<% movies.each do |movie|%>
<li><a class='detail' href="/movies/show?movie=<%=movie['title']%>"><%=movie["title"]%></a><li>
<%end%>
