<!DOCTYPE html>
<html>
  <head>
    <title>The Daily Slacker</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Slack, Slack, Slack...</h1>
    <form action="/migrate" method="post">
      <label for="task_name">Filename:</label>
        <li><input type="text" id="article" name="file">
        <input type="submit" value = "Migrate"></li>
    </form>

<a href="/">Home</a>
  </body>
  </html>
